.table {
    width: 100%;
}

.tdLeftAligned {
    text-align: start;
}

.thLeftAligned {
    text-align: start;
}

.tdRightAligned {
    text-align: end;
}

.thRightAligned {
    text-align: end;
}

.iconMargin {
    margin-right: 6px;
}